<div class="container-fluid">
  <div class="heading text-center">
    <h2>
      Problem Statement: Create actions and reducers to implment counter
      functionality
    </h2>
  </div>

  <div class="card m-a constrain p-3">
    <h4 class="text-center">Counter: {{ count$ | async }}</h4>

    <div class="row gx-3">
      <button
        type="button"
        class="btn btn-outline-primary col mx-2"
        (click)="increment()"
      >
        Increment
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary col mx-2"
        (click)="decrement()"
      >
        Decrement
      </button>
      <button
        type="button"
        class="btn btn-outline-success col mx-2"
        (click)="reset()"
      >
        Reset
      </button>
      <button
        type="button"
        class="btn btn-outline-warning col mx-2"
        (click)="multiplyByTwo()"
      >
        Multiply By 2
      </button>
    </div>

    <div class="form mt-3">
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Multiply By: </label>
        <div class="col-sm-6">
          <input type="number" class="form-control" [(ngModel)]="multiplyBy" />
        </div>
        <button
          type="button"
          class="btn btn-outline-info col-sm-3"
          (click)="multiply()"
        >
          Multiply
        </button>
      </div>
    </div>
  </div>
</div>
