<div class="container-fluid">
  <div class="heading text-center">
    <h2>
      Problem Statement: Create a custom directive to check whether the entered
      password is strong or weak
    </h2>
  </div>

  <div class="output">
    <div class="form">
      <div class="input-group">
        <label for="password">Password</label>
        <input type="text" id="password" [(ngModel)]="password" />
        <div appPasswordCheck [paswordCheck]="password"></div>
      </div>
      <div class="input-group">
        <label for="confirmPassword">Confirm Password</label> <br />
        <input type="text" id="confirmPassword" [(ngModel)]="confirmPassword" />
      </div>
      <div
        appConfirmPasswordCheck
        [paswordCheck]="password"
        [confirmPasswordCheck]="confirmPassword"
      ></div>
    </div>
  </div>
</div>
