.day-card {
  min-width: 18rem;
  max-height: 21rem;
  padding: 16px;
}

.day-card:hover {
  border: 2px solid black;
}

.image-container {
  height: 10rem;
}

.task {
  padding: 16px;
}

.task-item {
  padding: 8px;
}

.product-card-image {
  height: 10rem;
  max-width: 10rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
