<div class="container-fluid">
  <div class="heading text-center">
    <h2>
      Problem Statement: Use the directive ngFor to create a list of product
      displayed in tabular format
    </h2>
  </div>

  <div class="output">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Bill Amount</th>
          <th scope="col">Transaction Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.orderId }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.billAmount }}</td>
          <td>{{ product.transaction }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
